###########################
# OmniROM common sepolicy

# exfat
allow priv_app fuse_device:dir { search r_file_perms };
allow priv_app fuse_device:file r_file_perms;
allow priv_app fuse_device:filesystem { getattr };
