###########################
## OmniROM common sepolicy
##

allow shell adbtcp_prop:property_service set;
allow shell dalvikcache_data_file:file write;
