###########################
# OmniROM common sepolicy
#

allow system_app sysfs_lowmemorykiller:file rw_file_perms;

# Read /sys/kernel/debug/wakeup_sources.
allow system_app debugsfs_wakelock:file r_file_perms;

#selinux status
allow system_app selinuxfs:file r_file_perms;


