allow untrusted_app mnt_media_rw_file:dir getattr;
allow untrusted_app asec_apk_file:dir getattr;
allow untrusted_app fuse_device:file { getattr read write open };
allow untrusted_app fuse_device:dir { search };

