allow platform_app kernel:system syslog_read;

# Allow platform_app (SystemUi tile) to find nfc_service
allow platform_app nfc_service:service_manager find;
