# Omni Extras

on init
    export TERMINFO /system/etc/terminfo
    export TERM linux

on boot
    chown system system /sys/module/lowmemorykiller/parameters/minfree
    chmod 0644 /sys/module/lowmemorykiller/parameters/minfree

    # vnc
    chmod 0666 /dev/uinput

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd

on property:service.adb.tcp.port=0
    stop adbd
    start adbd

