allow untrusted_app_25 mnt_media_rw_file:dir getattr;
allow untrusted_app_25 asec_apk_file:dir getattr;
allow untrusted_app_25 fuse_device:file { getattr read write open };
allow untrusted_app_25 fuse_device:dir { search };
allow untrusted_app_25 sdcard_posix:dir r_dir_perms;
allow untrusted_app_25 sdcard_posix:file rw_file_perms;
